.card-sucess {
    color: rgb(0, 0, 0);
    border-radius: 15px;
    display: block;
    padding: 5px 15px 5px 5px;
    margin: auto;
    background: border-box;
    /* vertical-align: middle; */
    text-align: center; 
    background-color: #ffffff;
}



h4.card-sucess{
line-height: 25px;
color: #000;
font-weight: 400;
}

.menu-icon img{
    width: 25px;

}
@media only screen and (max-width: 660px) {
.img-box img {
  max-width: 20px;
  margin-right: 0px;
}
p.hero-para-1 {
    font-size: 17px;
    line-height: 24px;
    color: #000;
    font-style: italic;
}
h1.hero-title {
    font-size: 33px;
    font-weight: bold;
    color: #393939;
    line-height: 48px;
}
.faq-area {
    padding: 35px 30px 35px 30px;
    max-width: 1084px;
    margin: auto;
    background-color: #c1ddff;
    border-radius: 7px 7px 7px 7px;
    transition: box-shadow 0.3s;
}
.testimonial-area {
    padding: 70px 0px 0px 0px;
    background-color: #f0f7ff;
}
.counts {
    max-width: 1129px;
    margin: auto;
    /* margin-top: 120px; */
}
.notice {
    padding: 48px 45px 27px 45px;
    box-shadow: 0px 4px 17px 0px rgb(124 124 124 / 25%);
    background: #fff;
    border-radius: 11px 11px 11px 11px;
}

.quote-area-lists-content {
    font-size: 20px;
    line-height: 23px;
}
h2.quote-heading {
    font-size: 28px;
    line-height: 35px;
}
h3.quote-subheading {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    font-weight: bold;
}
h2.loan-title {
    font-size: 35px;
    line-height: 50px;
    color: #ffffff;
    font-weight: bold;
    max-width: 758px;
    margin: auto;
    margin-bottom: 30px;
}
.accordion-button {
    background-color: #fff0 !important;
    font-size: 14px;
    font-weight: bold;
}
.hero-img {
    margin-top: -64px;
}
}
@media only screen and (min-width: 1200px) {
    .container {
        width: 1000px;
    }
}

@media only screen and (max-width: 992px)and (min-width: 660px) {
    span.phone-txt {
    font-size: 12px;
}

    .phone-bg img {

        width: 12px;
    }



}

@media only screen and (min-width: 992px) {
    a.button-link {
        font-size: 14px;
        font-weight: 700;
        font-style: normal;
        line-height: 20px;
        background-color: #0b72f1;
        border-radius: 7px 7px 7px 7px;
        padding: 18px 20px 18px 20px;
        /* padding: 18px 18px 18px 18px; */

        color: #fff;
        display: inline-block;
    }
}

@media only screen and (max-width: 768px) {}

@media only screen and (min-width: 600px) {


    img.logo1 {
        max-width: 100%;
    }

    .text-selection {
        display: none;
    }
}
@media only screen and (max-width: 1024px) and (min-width: 768px){
    a.button-link {
        font-size: 20px;
        font-weight: 700;
        font-style: normal;
        background-color: #0b72f1;
        border-radius: 7px 7px 7px 7px;
        padding: 20px 20px 20px 20px;
        /* padding: 18px 18px 18px 18px; */

        color: #fff;
        display: inline-block;
    }

    

    button#app-btn {        
        width: 100%;
    }

    span.phone-txt {
        font-size: 12px;
    }

    .col-5-new {
        width: 80px;
    }

    .col-2-new {
        width: 125px;
    }

    select.goog-te-combo {
        border: 0;
        font-size: 10px;
        color: #32373c;
        background: url(../images/globe.png) no-repeat left;
        background-size: 12px;
        padding-left: 15px !important;
        width: 60px !important;
    }
.testimonial-area {
    padding: 50px 15px 90px 15px;
    background-color: #f0f7ff;
}
   .cards {
    background-image: url(../images/cards-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0px 90px 0px;
}

    .spacer {
        min-height: 800px;
    }

    .phone-1 {
        width: 25px;
        height: 30px;
    }

    p.box-content {
        font-size: 12px;
        line-height: 17px;
        color: #393939;
    }

    .quote-area {
    padding: 50px 0px 70px 0px;
    background: #0b72f1;
}

    .col-new {
        width: 25%;
        font-size: 8px;

    }


}
@media only screen and (max-width: 600px) {
    .top-col-button{
        padding-right: 10%;
    }

    a.button-link {
        font-size: 16px;
        font-weight: 700;
        font-style: normal;
        background-color: #0b72f1;
        border-radius: 7px 7px 7px 7px;
        /* padding: 14px 20px 14px 20px; */
        padding: 14px 18px 14px 18px;

        color: #fff;
        display: inline-block;
    }

    

    button#app-btn {        
        width: 100%;
    }

    span.phone-txt {
        font-size: 8px;
    }

    .col-5-new {
        width: 80px;
    }

    .col-2-new {
        width: 125px;
    }

    select.goog-te-combo {
        border: 0;
        font-size: 20px;
        color: #32373c;
        /* color: #000 !important; */
        background: url(../images/globe.png) no-repeat left;
        margin-right: 5px !important;
        background-size: 12px;
        padding-left: 15px !important;
        width: 60px !important;
    }
.testimonial-area {
    padding: 50px 15px 90px 15px;
    background-color: #f0f7ff;
}
   .cards {
    background-image: url(../images/cards-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0px 90px 0px;
}

    .spacer {
        min-height: 500px;
    }

    .phone-1 {
        width: 25px;
        height: 30px;
    }

    p.box-content {
        font-size: 12px;
        line-height: 17px;
        color: #393939;
    }

    .quote-area {
    padding: 50px 0px 70px 0px;
    background: #0b72f1;
}

    .col-new {
        width: 25%;
        font-size: 8px;

    }


}

@media only screen and (max-width: 480px) {
    .a.button-link {
        padding: 0px 0px 0px 0px;
        font-size: 1px;
    }

    a.hero-btn-1 {
        font-size: 12px;
    }

    a.hero-btn-2 {
        font-size: 11px;
    }

  

    .col-new1  {
        /* width: 35%; */
        display: inline-block;

    }

    span.phone-txt {
        font-size: 6px;
    }


    .phone-new {
        padding: 1px;
        font-size: 2px;
    }

}

@media only screen and (max-width: 1024px) and (min-width: 768px) {

    .top-col-button{
        padding-left: 20%;
    }

    .hero .col-lg-5.col-new1,
    .hero .col-lg-7.col-new2
    {
        width: auto !important;

    }
}

@media only screen and (max-width: 667px) {

   
    a.hero-btn-1-new, a.hero-btn-2-new {
        width: 100%;
    }

    .top-btn-set{
        display: inline;
    }

}

@media only screen and (max-width: 1024px) and (min-width: 768px){
.top-col-button {
    padding-left: 0px;
}
}

@media only screen and (max-width: 375px) {
   #img-with-carasol {
       display: block !important;
    }
    #img-without-carasol{
        display: none !important;
     }
    }

    @media only screen and (max-width: 414px) {
        #img-with-carasol {
            display: block !important;
         }
         #img-without-carasol{
             display: none !important;
          }
         }

         @media only screen and (max-width:390px) {
            #img-with-carasol {
                display: block !important;
             }
             #img-without-carasol{
                 display: none !important;
              }
             }

             @media only screen and (max-width:360px) {
                #img-with-carasol {
                    display: block !important;
                 }
                 #img-without-carasol{
                     display: none !important;
                  }
                 }

                 @media only screen and (max-width:412px) {
                    #img-with-carasol {
                        display: block !important;
                     }
                     #img-without-carasol{
                         display: none !important;
                      }
                     }

                     
                 @media only screen and (max-width:820px) {
                    /* #img-with-carasol {
                        display: block !important;
                     } */
                     /* #img-without-carasol{
                         display: none !important;
                      } */
                      #default-view{
                        display: none !important;
                      }
                      #customize-view{
                        display: block !important;
                      }
                     }

                     @media only screen and (max-width:768px) {
                        /* #img-with-carasol {
                            display: block !important;
                         } */
                         /* #img-without-carasol{
                             display: none !important;
                          } */
                          #default-view{
                            display: none !important;
                          }
                          #customize-view{
                            display: block !important;
                          }
                         }
                         @media only screen and (max-width:912px) {
                            /* #img-with-carasol {
                                display: block !important;
                             } */
                             /* #img-without-carasol{
                                 display: none !important;
                              } */
                              #default-view{
                                display: none !important;
                              }
                              #customize-view{
                                display: block !important;
                              }
                             }
                             @media only screen and (max-width:540px) {
                                /* #img-with-carasol {
                                    display: block !important;
                                 } */
                                 /* #img-without-carasol{
                                     display: none !important;
                                  } */
                                  #default-view{
                                    display: none !important;
                                  }
                                  #customize-view{
                                    display: block !important;
                                  }
                                 }
            

                                 @media only screen and (max-width:880px) {
                                  
                                     /* #itm-logo,#itm-btn,#itm-num2,#itm-lang2{
                                         display: none !important;
                                      } */
                                    #big-screen  {    background-color: #5b9cea;
                                     
                                       }

                                        #big-screen   #itm-num1,.itm-bg-color{
                                            color: #fff !important;
                                        }
                                     }
                                     @media only screen and (max-width:820px) {
                                        #itm-btn2 {
                                            padding-right: 20px;
                                        }
                                     }

                                     @media only screen and (max-width: 360px) {
                                        #customize-view #small-screen #customize-view-logo 
                                         a img {
                                            width: auto;
                                            height: auto;
                                            padding-right: 10px;
                                            scale: 1.9 !important;
                                        }

                                        #big-screen #big-screen-overall-div #big-screen-div-one #big-screen-div-two #itm-num1 #big-screen-num  {
                                            padding: 0 !important;
                                            margin: 0 !important;
                                        }


                                        
                                        #big-screen #big-screen-overall-div div #itm-num1 span #big-screen-num {
                                            padding: 0 !important;

                                            /* background-color: yellow; */
                                        }
                                     }

                                     @media only screen and (max-width: 280px) {
                                        #customize-view #small-screen #customize-view-logo #itm-logo2 a img {
                                            width: auto;
                                            height: auto;
                                            padding-right: 15px;
                                            /* scale: 1.9 !important; */

                                            scale: 1.5 !important;

                                        }

                                        #big-screen #big-screen-overall-div div a span  {
                                            padding: 0 !important;
                                            margin: 0;
                                        }


                                        
                                        #big-screen #big-screen-overall-div div #itm-num1
                                        #big-screen-num {
                                            padding: 0 !important;
                                            margin: 0 !important;
                                        }

                                        #big-screen #big-screen-overall-div #big-screen-div-one #big-screen-div-two {
                                            padding: 0 !important;
                                            margin: 0 !important;
                                        }

                                        
                                        #big-screen #big-screen-overall-div #big-screen-div-one #big-screen-div-two #big-screen-num {
                                            padding: 0 !important;
                                            margin: 0 !important;
                                            font-size: 12px;
                                            /* background-color: yellow; */
                                        }

                                        #big-screen #big-screen-overall-div #big-screen-div-one #big-screen-div-two #itm-num1 #itm-num-icon1 img {
                                            padding: 0 !important;
                                            margin: 0 !important;
                                            /* background-color: yellow; */
                                            width: 22px !important;
                                            height: 22px !important;
                                        }

                                        #big-screen #big-screen-overall-div #big-screen-div-one #big-screen-div-two #itm-num1 #big-screen-num{
                                            padding: 0 !important;
                                            margin: 0 !important;
                                            /* background-color: yellow; */
                                          font-size: 12px !important;
                                        }

                                        #mid-space {
                                            padding-bottom:-10px !important;
                                            margin-bottom: 0 !important;
                                        }

                                        #getStaeted-btn {
                                            /* padding-right:10px ; */
                                            width: 110%;
                                        }

                                        .faq-area h2#faq-head {
                                            font-size: 38px !important;
                                         
                                            margin-right: 2px !important;
                                         }

                                         /* h2.faq-heading {
                                            font-size: 38px !important;
                                            margin-right: 2px;
                                         } */

                                    }

                                    @media only screen and (max-width: 820px) {
                                        #customize-view #small-screen #customize-view-logo #itm-logo2 a img {
                                            /* width: auto;
                                            height: auto; */
                                            /* padding-right: 15px; */
                                            padding-left: 10px;
                                            /* scale: 1.9 !important; */
                                        }

                                        #big-screen #big-screen-overall-div div a span  {
                                            padding: 0 !important;
                                            margin: 0;
                                        }

                                    }

                                    @media only screen and (max-width: 912px) {
                                        #customize-view #small-screen #customize-view-logo #itm-logo2 a img {
                                           
                                            padding-left: 10px;
                                        }

                                        #big-screen #big-screen-overall-div div a span  {
                                            padding: 0 !important;
                                            margin: 0;
                                            color: #fff;
                                        }

                                    }

                                    @media only screen and (max-width: 280px) {
                                        .faq-area h2.faq-heading{

                                            font-size: 38px;
                                        }
                                        img.footer-logo {
                                            /* width: 150%; */
                                            width: 200%;
                                             margin-right: 10px;
                                             /* padding: 8px 8px 8px 0px !important; */
                                             padding: 5px;
                                             padding-right: 12px !important;

                                      /* padding: 0 20px 0 0;
                                      padding-left: 0px;
                                      padding-right: 20px; */
    
                                        }
    
                                          img.footer-img {
                                            width: 300%;
                                            /* width: 145%; */
                                            /* padding: 0;
                                            margin-right: 10px;
                                            margin-left: 10px; */
                                            /* padding: 8px !important; */
                                            /* padding: 8px 0px 8px 8px !important; */


                                            /* padding: 5px 2px 5px 5px;
                                            margin-left: 5px !important; */

                                          }

                                          /* .footeer-btns-set {
                                            display: flex;
                                            justify-content: space-between;
                                          } */

                                          /* img.footer-img {
                                            width: 115%;
                                            padding: 0;
                                          
                                          } */

                                          img#footer-logo-img1{}
                                          img#footer-logo-img2{
                                            padding: 5px 2px 5px 5px;
                                            margin-left: 5px !important;
                                          }
                                          img#footer-logo-img3{}
                                    }


                                    @media only screen and (max-width: 960px) and (min-width: 280px){

/* 
                                        #footer-logo-img1{
                                            scale: 2 !important;
                                            width: 200px;

                                        height: 200px;
                                        } */

                                        #footer-logo-img1 {
                                            width: 120%;
                                            height: auto;
                                            margin-left: 0 !important;
                                            margin-right: 0 !important;
                                            padding-left: 0 !important;
                                            padding-right: 0 !important;
                                            /* grid-area: lp1; */
                                           
                                           
                                        }

                                        #footer-logo-img2{
                                            width: 115%;
                                            height: auto;
                                            margin-left: 0 !important;
                                            margin-right: 0 !important;
                                            padding-left: 10px !important;
                                            padding-right: 0 !important;
                                            position: relative;
                                            left: 10px;
                                            /* grid-area: lp2; */
                                        }

                                        #footer-logo-img3{
                                            width: 125%;
                                            height: auto; 
                                            margin-left: 0 !important;
                                            margin-right: 0 !important;
                                            padding-left: 0 !important;
                                            padding-right: 0 !important;
                                            /* grid-area: lp3; */
                                        }

                                        #footer-logo-set1 {
                                            /* display: grid !important;
                                            grid-template-columns: (250px)3;
                                            grid-auto-rows: 85%;
                                            grid-template-areas: "lp1 lp2 lp3";
                                            column-gap: 5px; */
                                            display: inline-flex;
                                            justify-content: space-between ;
                                        }
                                    }
                                    @media only screen and (max-width: 281px) {

                                                                          
                                                                                
                                        #footer-logo-img1 {
                                             width: 150%;
                                             height: auto;
                                             margin-left: 0 !important;
                                             margin-right: 0 !important;
                                             padding-left: 0 !important;
                                             padding-right: 0 !important;
                                             /* grid-area: lp1; */
                                            
                                            
                                         }
    
                                         #footer-logo-img2{
                                             width: 150%;
                                             height: auto;
                                             margin-left: 0 !important;
                                             margin-right: 0 !important;
                                             padding-left: 2px !important;
                                             padding-right: 5px !important;
                                             /* position: relative !important; */
                                             /* left:20px !important; */
                                             /* grid-area: lp2; */
                                         }
    
                                         #footer-logo-img3{
                                             width: 150%;
                                             height: auto; 
                                             margin-left: 0 !important;
                                             margin-right: 0 !important;
                                             padding-left: 0 !important;
                                             padding-right: 0 !important;
                                             /* position: relative; */
                                             /* left:28px; */
                                             /* left:10px; */
    
                                             /* grid-area: lp3; */
                                         }
    
                                         #footer-logo-set1 {
                                             
                                             display: inline-flex;
                                             justify-content: space-between ;
                                         }
                          }

                    
                               
                          @media only screen and (width: 540px) {

                                                                          
                                               
                            #footer-logo-img1 {
                                 width: 108%;
                                 height: auto;
                                 margin-left: 0 !important;
                                 margin-right: 0 !important;
                                 padding-left: 0 !important;
                                 padding-right: 0 !important;
                                 /* grid-area: lp1; */
                                
                                                                 
                                           }
                   
                                #footer-logo-img2{
                                    width: 108%;
                                    height: auto;
                                    margin-left: 0 !important;
                                    margin-right: 0 !important;
                                    padding-left: 10px !important;
                                    padding-right: 0 !important;
                                    position: relative !important;
                                    left:36px !important;
                                    /* grid-area: lp2; */
                                }
                   
                              #footer-logo-img3{
                                  width: 108%;
                                  height: auto; 
                                  margin-left: 0 !important;
                                  margin-right: 0 !important;
                                  padding-left: 0 !important;
                                  padding-right: 0 !important;
                                  position: relative;
                                  left:28px;
                                  /* grid-area: lp3; */
                              }
                   
                           #footer-logo-set1 {
                          
                               display: inline-flex;
                               justify-content: space-between ;
                           }
                                               }

                     @media only screen and (max-width: 914px) and (min-width: 765px){

                                        /* 
                                                                                #footer-logo-img1{
                                                                                    scale: 2 !important;
                                                                                    width: 200px;
                                        
                                                                                height: 200px;
                                                                                } */
                                        
                                                                                #footer-logo-img1 {
                                                                                    width: 110%;
                                                                                    height: auto;
                                                                                    margin-left: 0 !important;
                                                                                    margin-right: 0 !important;
                                                                                    padding-left: 0 !important;
                                                                                    padding-right: 0 !important;
                                                                                    /* grid-area: lp1; */
                                                                                   
                                                                                   
                                                                                }
                                        
                                                                                #footer-logo-img2{
                                                                                    width: 110%;
                                                                                    height: auto;
                                                                                    margin-left: 0 !important;
                                                                                    margin-right: 0 !important;
                                                                                    padding-left: 10px !important;
                                                                                    padding-right: 0 !important;
                                                                                    position: relative;
                                                                                    /* left:20px; */
                                                                                    left:10px;
                                                                                    /* grid-area: lp2; */
                                                                                }
                                        
                                                                                #footer-logo-img3{
                                                                                    width: 110%;
                                                                                    height: auto; 
                                                                                    margin-left: 0 !important;
                                                                                    margin-right: 0 !important;
                                                                                    padding-left: 0 !important;
                                                                                    padding-right: 0 !important;
                                                                                    position: relative;
                                                                                    left:20px;
                                                                                    /* grid-area: lp3; */
                                                                                }
                                        
                                                                                #footer-logo-set1 {
                                                                                    /* display: grid !important;
                                                                                    grid-template-columns: (250px)3;
                                                                                    grid-auto-rows: 85%;
                                                                                    grid-template-areas: "lp1 lp2 lp3";
                                                                                    column-gap: 5px; */
                                                                                    display: inline-flex;
                                                                                    justify-content: space-between ;
                                                                                }
                                                                            }
                                        
                 
                                                                                
                                                                   
                 
                      @media only screen and (width: 768px){
   
                        
                                  #footer-logo-img1 {
                                      width: 110%;
                                      height: auto;
                                      margin-left: 0 !important;
                                      margin-right: 0 !important;
                                      padding-left: 0 !important;
                                      padding-right: 0 !important;
                                      /* grid-area: lp1; */
                                     
                                     
                                  }
                        
                                 #footer-logo-img2{
                                     width: 110%;
                                     height: auto;
                                     margin-left: 0 !important;
                                     margin-right: 0 !important;
                                     padding-left: 10px !important;
                                     padding-right: 0 !important;
                                     position: relative;
                                     /* left:20px; */
                                     /* left:15px; */
                                     left:35px;

                                     /* grid-area: lp2; */
                                 }
                        
                              #footer-logo-img3{
                                  width: 110%;
                                  height: auto; 
                                  margin-left: 0 !important;
                                  margin-right: 0 !important;
                                  padding-left: 0 !important;
                                  padding-right: 0 !important;
                                  position: relative;
                                  left:18px;
                                  /* grid-area: lp3; */
                              }
                        
                                  #footer-logo-set1 {
                                     
                                      display: inline-flex;
                                      justify-content: space-between ;
                                  }
                                                            }

                                                            @media only screen and (width: 820px){
   
                        
                                                                #footer-logo-img1 {
                                                                    width: 110%;
                                                                    height: auto;
                                                                    margin-left: 0 !important;
                                                                    margin-right: 0 !important;
                                                                    padding-left: 0 !important;
                                                                    padding-right: 0 !important;
                                                                    /* grid-area: lp1; */
                                                                   
                                                                   
                                                                }
                                                      
                                                               #footer-logo-img2{
                                                                   width: 110%;
                                                                   height: auto;
                                                                   margin-left: 0 !important;
                                                                   margin-right: 0 !important;
                                                                   padding-left: 10px !important;
                                                                   padding-right: 0 !important;
                                                                   position: relative;
                                                                   /* left:20px; */
                                                                   /* left:15px; */
                                                                   left:35px;
                              
                                                                   /* grid-area: lp2; */
                                                               }
                                                      
                                                            #footer-logo-img3{
                                                                width: 110%;
                                                                height: auto; 
                                                                margin-left: 0 !important;
                                                                margin-right: 0 !important;
                                                                padding-left: 0 !important;
                                                                padding-right: 0 !important;
                                                                position: relative;
                                                                left:18px;
                                                                /* grid-area: lp3; */
                                                            }
                                                      
                                                                #footer-logo-set1 {
                                                                   
                                                                    display: inline-flex;
                                                                    justify-content: space-between ;
                                                                }
                                                                                          }


                           @media only screen and (width: 912px){
   
                        
                             #footer-logo-img1 {
                                 width: 110%;
                                 height: auto;
                                 margin-left: 0 !important;
                                 margin-right: 0 !important;
                                 padding-left: 0 !important;
                                 padding-right: 0 !important;
                                 /* grid-area: lp1; */
                                
                                
                                   }
                                                                                  
                                           #footer-logo-img2{
                                               width: 110%;
                                               height: auto;
                                               margin-left: 0 !important;
                                               margin-right: 0 !important;
                                               padding-left: 10px !important;
                                               padding-right: 0 !important;
                                               position: relative;
                                               /* left:20px; */
                                               /* left:15px; */
                                               left:35px;
            
                                               /* grid-area: lp2; */
                                           }
                                  
                                        #footer-logo-img3{
                                            width: 110%;
                                            height: auto; 
                                            margin-left: 0 !important;
                                            margin-right: 0 !important;
                                            padding-left: 0 !important;
                                            padding-right: 0 !important;
                                            position: relative;
                                            left:18px;
                                            /* grid-area: lp3; */
                                        }
                                  
                                            #footer-logo-set1 {
                                               
                                                display: inline-flex;
                                                justify-content: space-between ;
                                            }
                                                                }